html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#address-map {
    width: 300px;
    height: 230px;
}

.catalog {
    margin: 30px 0 0 0;
}

.panel {
    display: block;
    width: 40%;
    height: 100px;
    border: solid;
    border-width:thin;
    border-color: #777;
    background-color: #DDD;
}

.panel:hover {
    background-color: transparent;
}

.panel p {
    position: relative;
    float: left;
    padding: 0 20px 0 20px;
    display: inline;
}

.panel img {
    height: 100%;;
}

.detail img {
    height: 250px;
}